@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly.</h1>
    <p class="lead">Movies And Customers Website By &raquo; ASP.NET MVC 5 And Entity FrameWork </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
</div>